USE [master]
GO
/****** Object:  Database [BDS]    Script Date: 3/16/2020 9:39:51 PM ******/
CREATE DATABASE [BDS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BDS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BDS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDS]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 3/16/2020 9:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[ID_ADMIN] [int] IDENTITY(1,1) NOT NULL,
	[TEN_ADMIN] [nvarchar](50) NOT NULL,
	[EMAIL_ADMIN] [nvarchar](50) NOT NULL,
	[DIENTHOAI_ADMIN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[ID_ADMIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HUONG]    Script Date: 3/16/2020 9:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HUONG](
	[ID_HUONG] [int] IDENTITY(1,1) NOT NULL,
	[TEN_HUONG] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HUONG] PRIMARY KEY CLUSTERED 
(
	[ID_HUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAI_SANPHAM]    Script Date: 3/16/2020 9:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_SANPHAM](
	[ID_LOAI] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[ID_LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAI_TINTUC]    Script Date: 3/16/2020 9:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_TINTUC](
	[ID_LOAITINTUC] [int] IDENTITY(1,1) NOT NULL,
	[TEANLOAITIN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAI_TINTUC] PRIMARY KEY CLUSTERED 
(
	[ID_LOAITINTUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MOTA_CHITIET]    Script Date: 3/16/2020 9:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOTA_CHITIET](
	[ID_MOTA] [int] IDENTITY(1,1) NOT NULL,
	[id_SANPHAMCTY] [int] NULL,
	[SOTANG] [int] NULL,
	[HEM] [nvarchar](50) NOT NULL,
	[PHAPLY] [nvarchar](50) NOT NULL,
	[HINHANH] [nvarchar](50) NOT NULL,
	[THOCU] [nvarchar](50) NOT NULL,
	[SO_PHONGNGU] [int] NULL,
	[SO_TOILET] [int] NULL,
	[id_SANPHAMNGUOIDUNg] [int] NULL,
 CONSTRAINT [PK_MOTA_CHITIET] PRIMARY KEY CLUSTERED 
(
	[ID_MOTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 3/16/2020 9:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[ID_NGUOIDUNG] [int] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[DIENTHOAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[ID_NGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM_CTY]    Script Date: 3/16/2020 9:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM_CTY](
	[ID_SANPHAM] [int] IDENTITY(1,1) NOT NULL,
	[TENSANPHAM] [nvarchar](50) NOT NULL,
	[NGAYNHAP] [datetime] NOT NULL,
	[DIENTICH] [nvarchar](50) NOT NULL,
	[GIA] [nvarchar](50) NOT NULL,
	[id_LOAISANPHAM] [int] NOT NULL,
	[id_PHUONGXA] [int] NOT NULL,
	[id_HUONG] [int] NOT NULL,
	[MOTA] [nvarchar](max) NOT NULL,
	[HINHANH] [nvarchar](50) NOT NULL,
	[GEOMTRY] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SANPHAM_CTY] PRIMARY KEY CLUSTERED 
(
	[ID_SANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM_NGUOIDUNG]    Script Date: 3/16/2020 9:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM_NGUOIDUNG](
	[ID_SANPHAM] [int] IDENTITY(1,1) NOT NULL,
	[TENSANPHAM] [nvarchar](50) NOT NULL,
	[NGAYDANG] [nvarchar](50) NOT NULL,
	[DIENTICH] [nvarchar](50) NOT NULL,
	[GIA] [nvarchar](50) NOT NULL,
	[id_LOAISANPHAM] [int] NOT NULL,
	[id_PHUONGXA] [int] NOT NULL,
	[id_HUONG] [int] NOT NULL,
	[MOTA] [nvarchar](max) NOT NULL,
	[HINHANH] [nvarchar](50) NOT NULL,
	[GEOMTRY] [nvarchar](50) NOT NULL,
	[TRANGTHAI] [nvarchar](50) NOT NULL,
	[id_NGUOIDUNG] [int] NOT NULL,
 CONSTRAINT [PK_SANPHAM_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[ID_SANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINTUC]    Script Date: 3/16/2020 9:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINTUC](
	[ID_TINTUC] [int] IDENTITY(1,1) NOT NULL,
	[TEN_TINTUC] [nvarchar](max) NOT NULL,
	[NOIDUNG] [nvarchar](max) NOT NULL,
	[HINHANH] [nvarchar](50) NOT NULL,
	[id_LOAITINTUC] [int] NOT NULL,
 CONSTRAINT [PK_TINTUC] PRIMARY KEY CLUSTERED 
(
	[ID_TINTUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[XAPHUONG]    Script Date: 3/16/2020 9:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XAPHUONG](
	[ID_XAPHUONG] [int] IDENTITY(1,1) NOT NULL,
	[TENPHUONG] [nvarchar](50) NOT NULL,
	[GEOMTRY] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_XAPHUONG] PRIMARY KEY CLUSTERED 
(
	[ID_XAPHUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ADMIN] ON 

INSERT [dbo].[ADMIN] ([ID_ADMIN], [TEN_ADMIN], [EMAIL_ADMIN], [DIENTHOAI_ADMIN]) VALUES (1, N'PHAMHIEU', N'ABC@GMAIL.COM', N'099999999')
SET IDENTITY_INSERT [dbo].[ADMIN] OFF
SET IDENTITY_INSERT [dbo].[HUONG] ON 

INSERT [dbo].[HUONG] ([ID_HUONG], [TEN_HUONG]) VALUES (1, N'Đông')
INSERT [dbo].[HUONG] ([ID_HUONG], [TEN_HUONG]) VALUES (2, N'Tây')
INSERT [dbo].[HUONG] ([ID_HUONG], [TEN_HUONG]) VALUES (3, N'Nam')
SET IDENTITY_INSERT [dbo].[HUONG] OFF
SET IDENTITY_INSERT [dbo].[LOAI_SANPHAM] ON 

INSERT [dbo].[LOAI_SANPHAM] ([ID_LOAI], [TEN_LOAI]) VALUES (1, N'Nhà')
INSERT [dbo].[LOAI_SANPHAM] ([ID_LOAI], [TEN_LOAI]) VALUES (2, N'Đất')
SET IDENTITY_INSERT [dbo].[LOAI_SANPHAM] OFF
SET IDENTITY_INSERT [dbo].[LOAI_TINTUC] ON 

INSERT [dbo].[LOAI_TINTUC] ([ID_LOAITINTUC], [TEANLOAITIN]) VALUES (1, N'THÔNG TIN NHÀ ĐẤT')
INSERT [dbo].[LOAI_TINTUC] ([ID_LOAITINTUC], [TEANLOAITIN]) VALUES (2, N'PHONG THỦY')
INSERT [dbo].[LOAI_TINTUC] ([ID_LOAITINTUC], [TEANLOAITIN]) VALUES (3, N'MẪU NHÀ ĐẸP')
SET IDENTITY_INSERT [dbo].[LOAI_TINTUC] OFF
SET IDENTITY_INSERT [dbo].[MOTA_CHITIET] ON 

INSERT [dbo].[MOTA_CHITIET] ([ID_MOTA], [id_SANPHAMCTY], [SOTANG], [HEM], [PHAPLY], [HINHANH], [THOCU], [SO_PHONGNGU], [SO_TOILET], [id_SANPHAMNGUOIDUNg]) VALUES (1, 3, 2, N'5m', N'Sổ Hồng', N'abc.jpg', N'100%', 6, 2, NULL)
INSERT [dbo].[MOTA_CHITIET] ([ID_MOTA], [id_SANPHAMCTY], [SOTANG], [HEM], [PHAPLY], [HINHANH], [THOCU], [SO_PHONGNGU], [SO_TOILET], [id_SANPHAMNGUOIDUNg]) VALUES (2, 7, NULL, N'5m', N'Sổ Hồng', N'abc.jpg', N'100%', NULL, NULL, NULL)
INSERT [dbo].[MOTA_CHITIET] ([ID_MOTA], [id_SANPHAMCTY], [SOTANG], [HEM], [PHAPLY], [HINHANH], [THOCU], [SO_PHONGNGU], [SO_TOILET], [id_SANPHAMNGUOIDUNg]) VALUES (3, NULL, NULL, N'5m', N'Sổ Hồng', N'abc.jpg', N'100%', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[MOTA_CHITIET] OFF
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] ON 

INSERT [dbo].[NGUOIDUNG] ([ID_NGUOIDUNG], [TENDANGNHAP], [MATKHAU], [EMAIL], [DIENTHOAI]) VALUES (1, N'phamhieu', N'123', N'abc@gmail.com', N'099999999')
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM_CTY] ON 

INSERT [dbo].[SANPHAM_CTY] ([ID_SANPHAM], [TENSANPHAM], [NGAYNHAP], [DIENTICH], [GIA], [id_LOAISANPHAM], [id_PHUONGXA], [id_HUONG], [MOTA], [HINHANH], [GEOMTRY]) VALUES (3, N' BÁN NHÀ PHỐ 6 PHÒNG NGỦ TẠI PHÚ HÒA', CAST(N'2020-05-03 00:00:00.000' AS DateTime), N'371 m2', N'14.3 tỷ', 1, 1, 2, N' Khu vực rất thích hợp cho các gia đình mua căn hộ để an cư, hoặc cũng có thể đầu tư cho thuê
Lợi tưc cho thuê kì vọng của dự án này đang rất tốt, đạt 8-10%/năm.', N'abc.jpg', N'dữ liệu trên gis')
INSERT [dbo].[SANPHAM_CTY] ([ID_SANPHAM], [TENSANPHAM], [NGAYNHAP], [DIENTICH], [GIA], [id_LOAISANPHAM], [id_PHUONGXA], [id_HUONG], [MOTA], [HINHANH], [GEOMTRY]) VALUES (7, N'BÁN ĐẤT NỀN 150 M2 TẠI CHÁNH NGHĨA', CAST(N'2020-05-03 00:00:00.000' AS DateTime), N'150 m2', N'5.6 tỷ', 2, 1, 1, N'Đất nền siêu đẹp', N'abc.jpg', N'dữ liệu trên gis')
SET IDENTITY_INSERT [dbo].[SANPHAM_CTY] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM_NGUOIDUNG] ON 

INSERT [dbo].[SANPHAM_NGUOIDUNG] ([ID_SANPHAM], [TENSANPHAM], [NGAYDANG], [DIENTICH], [GIA], [id_LOAISANPHAM], [id_PHUONGXA], [id_HUONG], [MOTA], [HINHANH], [GEOMTRY], [TRANGTHAI], [id_NGUOIDUNG]) VALUES (1, N'BÁN ĐẤT THỔ CƯ 61 M2 TẠI PHÚ LỢI', N'13/3/2020', N'61 m2', N'1.83 tỷ', 2, 1, 2, N'đất nền siêu đẹp', N'abc.kpg', N'dữ liệu gis', N'Chưa Duyệt', 1)
SET IDENTITY_INSERT [dbo].[SANPHAM_NGUOIDUNG] OFF
SET IDENTITY_INSERT [dbo].[TINTUC] ON 

INSERT [dbo].[TINTUC] ([ID_TINTUC], [TEN_TINTUC], [NOIDUNG], [HINHANH], [id_LOAITINTUC]) VALUES (1, N'TP.HCM: Lượng căn hộ hạng sang gấp 3 lần nhà giá rẻ', N'Trong khi cả năm 2019 chỉ có một dự án bình dân được mở bán, số dự án căn hộ hạng sang được đưa ra thị trường TP.HCM là 6. Hai phân khúc này lần lượt giữ 2% và 6% tổng nguồn cung.', N'ABC.JPG', 1)
SET IDENTITY_INSERT [dbo].[TINTUC] OFF
SET IDENTITY_INSERT [dbo].[XAPHUONG] ON 

INSERT [dbo].[XAPHUONG] ([ID_XAPHUONG], [TENPHUONG], [GEOMTRY]) VALUES (1, N'dữ liệu này em sẽ có khi số hóa', N'dữ liệu này em sẽ có khi số hóa')
SET IDENTITY_INSERT [dbo].[XAPHUONG] OFF
ALTER TABLE [dbo].[MOTA_CHITIET]  WITH CHECK ADD  CONSTRAINT [FK_MOTA_CHITIET_SANPHAM_CTY] FOREIGN KEY([id_SANPHAMCTY])
REFERENCES [dbo].[SANPHAM_CTY] ([ID_SANPHAM])
GO
ALTER TABLE [dbo].[MOTA_CHITIET] CHECK CONSTRAINT [FK_MOTA_CHITIET_SANPHAM_CTY]
GO
ALTER TABLE [dbo].[MOTA_CHITIET]  WITH CHECK ADD  CONSTRAINT [FK_MOTA_CHITIET_SANPHAM_NGUOIDUNG] FOREIGN KEY([id_SANPHAMNGUOIDUNg])
REFERENCES [dbo].[SANPHAM_NGUOIDUNG] ([ID_SANPHAM])
GO
ALTER TABLE [dbo].[MOTA_CHITIET] CHECK CONSTRAINT [FK_MOTA_CHITIET_SANPHAM_NGUOIDUNG]
GO
ALTER TABLE [dbo].[SANPHAM_CTY]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_CTY_HUONG] FOREIGN KEY([id_HUONG])
REFERENCES [dbo].[HUONG] ([ID_HUONG])
GO
ALTER TABLE [dbo].[SANPHAM_CTY] CHECK CONSTRAINT [FK_SANPHAM_CTY_HUONG]
GO
ALTER TABLE [dbo].[SANPHAM_CTY]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_CTY_LOAI_SANPHAM] FOREIGN KEY([id_LOAISANPHAM])
REFERENCES [dbo].[LOAI_SANPHAM] ([ID_LOAI])
GO
ALTER TABLE [dbo].[SANPHAM_CTY] CHECK CONSTRAINT [FK_SANPHAM_CTY_LOAI_SANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM_CTY]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_CTY_XAPHUONG] FOREIGN KEY([id_PHUONGXA])
REFERENCES [dbo].[XAPHUONG] ([ID_XAPHUONG])
GO
ALTER TABLE [dbo].[SANPHAM_CTY] CHECK CONSTRAINT [FK_SANPHAM_CTY_XAPHUONG]
GO
ALTER TABLE [dbo].[SANPHAM_NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NGUOIDUNG_HUONG] FOREIGN KEY([id_HUONG])
REFERENCES [dbo].[HUONG] ([ID_HUONG])
GO
ALTER TABLE [dbo].[SANPHAM_NGUOIDUNG] CHECK CONSTRAINT [FK_SANPHAM_NGUOIDUNG_HUONG]
GO
ALTER TABLE [dbo].[SANPHAM_NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NGUOIDUNG_LOAI_SANPHAM] FOREIGN KEY([id_LOAISANPHAM])
REFERENCES [dbo].[LOAI_SANPHAM] ([ID_LOAI])
GO
ALTER TABLE [dbo].[SANPHAM_NGUOIDUNG] CHECK CONSTRAINT [FK_SANPHAM_NGUOIDUNG_LOAI_SANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM_NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NGUOIDUNG_NGUOIDUNG] FOREIGN KEY([id_NGUOIDUNG])
REFERENCES [dbo].[NGUOIDUNG] ([ID_NGUOIDUNG])
GO
ALTER TABLE [dbo].[SANPHAM_NGUOIDUNG] CHECK CONSTRAINT [FK_SANPHAM_NGUOIDUNG_NGUOIDUNG]
GO
ALTER TABLE [dbo].[SANPHAM_NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NGUOIDUNG_XAPHUONG] FOREIGN KEY([id_PHUONGXA])
REFERENCES [dbo].[XAPHUONG] ([ID_XAPHUONG])
GO
ALTER TABLE [dbo].[SANPHAM_NGUOIDUNG] CHECK CONSTRAINT [FK_SANPHAM_NGUOIDUNG_XAPHUONG]
GO
ALTER TABLE [dbo].[TINTUC]  WITH CHECK ADD  CONSTRAINT [FK_TINTUC_LOAI_TINTUC] FOREIGN KEY([id_LOAITINTUC])
REFERENCES [dbo].[LOAI_TINTUC] ([ID_LOAITINTUC])
GO
ALTER TABLE [dbo].[TINTUC] CHECK CONSTRAINT [FK_TINTUC_LOAI_TINTUC]
GO
USE [master]
GO
